/* Style sheet for homework 1 - recommended project*/


/*
Teal color (used for headings and backgrounds): #4aaaa5
Regular font color (used for paragraphs and all text besides the headings): #777777
Main header background color: #ffffff
Main header border color: #cccccc
Footer background color: #666666
Main content background color: #ffffff
Main content border color: #dddddd

For heading fonts use font-family: 'Georgia', Times, Times New Roman, serif;.
For all other fonts use 'Arial', 'Helvetica Neue', Helvetica, sans-serif;.

The entire content area is 960px wide.
The main section content is 650px wide.
The sidebar is 270px wide.
*/

* {
  box-sizing: border-box;
}

body {
  /* background-image: url("../images/bg_gray.jpg"); */
  background: #343a40!important;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Raleway', sans-serif;
}

.navbar {
  border-bottom-style: solid;
  border-color: grey !important;
}

.nav-item {
  margin-left: 15px;
  padding-left: 15px;
  border-left: 1px solid grey;
}

/* remove the first separator */

nav .navbar-nav.ul a:first-child {
  border-left: 0 none;
}


.container {
  width: 100%;
  height: 500px;
  margin: 0 auto;
  clear: both;
}

#home,
#about,
#portfolio {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  color: white;
}

#about {
  background: linen;
  color: black;
}

.meSection {
  padding-top: 50px;
}

div.masthead img {
  display: block;
  margin: 0 auto 20px;
  height: 256px;
  width: 256px;
}

.fa {
  color: lightslategray;
}

.intro-text {
  margin: 0px 0px 30px 0px;
}

.skills {
  font-size: 1.25em;
  font-family: 'Roboto', serif;
}

hr {
  border: 1px solid lightslategray;
  margin: 30px auto;
}


/*************** End of Header Section ************/


/*  The bottom Section   */

footer {
  color: white;
  padding-top: 30px;
  background-color: #2C3E50;
}

footer .container {
  height: 50%;
}

footer .footer-col {
  margin-bottom: 10px;
}

.portImg {
  position: relative;
  float: left;
  width: 200px;
  margin: 20px 20px 0px 0px;
  overflow: auto;
}

.portImg:nth-child(even) {
  margin-right: 50px;
}

.portLinks {
  display: block;
}

.portTxt {
  position: absolute;
  bottom: 0px;
  width: 100%;
  background-color: #4aaaa5;
  color: white;
  padding: 14px 0px;
  text-align: center;
}


/**************    Responsive Code     **************/


/*  desktop   */


/* @media screen and (max-width: 980px) {
  
.rightSection{
    float: left;
    margin-left: 10px;
  } */


/*
  .headerNav {
  float: left;

  }

  .leftSection {
    max-width: 320px;
    
  }

  .leftSecHeader {
    max-width: 280px;
  }

  

  p {
    clear: both;
    width: 100%;
    max-width: 250px;
    padding-top: 20px;
    }


}  /*  END OF DESKTOP */


/*  tablet   */


/* @media screen and (max-width: 768px) {
 
.rightSection{
    clear:both;
    float: left;
    width: 100%;
    max-width: 650px;
    margin-top: 0px;
    margin-left: 0px;
  }
} */


/*
  .leftSection {
    max-width: 650px;
  }

  .leftSecHeader {
    max-width: 600px;
  }

  p {
    display: inline;
    width: auto;
    max-width: none;
    padding-top: 20px;
  }

  p:last-child {
    display: block;
  }

  .rightSection{
    clear:both;
    float: left;
    width: 100%;
    max-width: 650px;
    margin-top: 0px;
    margin-left: 0px;
  }

  .rightSecHeader {
    max-width: 600px;
  }



/*   Media Queries     */


/* @media screen and (max-width: 640px) {

  .name {
    width: 100%;
    white-space: nowrap;
    margin: 0 auto;
  }

  .headerNav {
    width: 100%;
    clear: both;
    float: left;
    background-color: #ffffff;
    color: #fff;
    margin: 0 auto;
    padding: 10px 0px 10px 0px;
  }

  .meText {
    display: inline-block;
    padding-top: 20px;
  }

  .rightSection{
    clear:both;
    float:left;
    max-width: 320px;
  }
} */


/* 
  body {
    padding-top: 0px;
  }

  .fullHeader {
    position: static;
  }

 
  .leftSection {
    max-width: 320px;
    margin-left: 10px;
  }

  .leftSecHeader {
    max-width: 280px;
  }

  

  .rightSecHeader {
    max-width: 280px; 
  }*/


/*  p {
    display: block;
    width: 100%;
    max-width: 250px;
    padding-top: 20px;
  }
  */